@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main: #ff9d00;
	--background: #ffefc2;
	--text: #523200;
	--accent: #ffd600;
	--logoFont: "Grandstander", "cursive";
	--bodyFont: "Nunito", "sans-serif";
}

html,
body {
	min-width: 100%;
	min-height: 100%;
	font-family: var(--bodyFont);
	background-color: var(--background);
}
