@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main: #ff9d00;
	--background: #fcfaf2;
	--text: #523200;
	--accent: #ffd600;
	--accent2: #ffd982;
	--logoFont: "Grandstander", "cursive";
	--bodyFont: "Nunito", "sans-serif";
}

html,
body {
	min-width: 100%;
	min-height: 100%;
	font-family: var(--bodyFont);
	background-color: var(--background);
	box-sizing: border-box;
	color: var(--text);
}

.show {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

@media (min-width: 768px) {
	.show {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

.moveX {
	transform: rotate(225deg);
}
